---
title: Lista de tareas
icon: fas fa-tasks
layout: page
---

<div class="tareas">
En esta página encontrará las tareas marcadas y su fecha de entrega. En <b style="color: green;">verde</b> puede ver las tareas que aún está a tiempo de entregar. En <b style="color: red;">rojo</b>, aquellas cuya fecha de entrega ya pasó.

  <ul class="fa-ul">
    {% for tarea in site.tareas %}
      {% assign deadline = tarea.deadline | date: '%s' %}

      {% if tarea.visible %}
        <li><i class="fa-li fa fa-check"></i><b><a href="{{ site.baseurl }}{{ tarea.url }}">{{ tarea.title }}</a></b> - Entrega: 
        <b class="deadline">{{ tarea.deadline }}</b>
        </li>
      {% endif %}

    {% endfor %}
  </ul>
</div>
